<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./lib/DetectLanguage/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="DetectLanguage Test Suite">
      <directory suffix="Test.php">./tests/DetectLanguage/</directory>
    </testsuite>
  </testsuites>
</phpunit>
